.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 0.7rem;
    span {
        a {
            color: var(--main-color);
            letter-spacing: 4px;
            font-weight: 900;
        }
    }
}