.tech-team {
    .tech {
        width: 100vw;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        background: linear-gradient(to right,#ffb101,#EE8001);
        background-size: 400% 400%;
        animation: animate 10s infinite ease-in-out;
        @keyframes animate {
          0% {
            background-position: 0 50%;
          }
          50% {
            background-position: 100% 50%;
          }
          100% {
            background-position: 0 50%;
          }
        }
        .heading {
          h1 {
            font-size: 4rem;
            font-weight: 300;
            letter-spacing: 4px;
            text-align: center;
            @media screen and (max-width: 450px) {
              font-size: 3rem;
            }
          }
        }
      }
}