/* start global variables */
:root {
  --main-color: #ffb101;
  --dark: #000;
  --light: #fff;
}
/* end global variables */
/* strat global components */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  background-color: var(--dark);
  font-family: 'Raleway', sans-serif !important;
  overflow-x: hidden;
}
#dark {
  background-color: var(--dark);
  color: var(--light);
}
#light {
  background-color: var(--light);
  color: var(--dark);
}
#light .container-fluid {
  background-color: var(--light);
  color: var(--dark);
} 
#light .button--greip::before {
  background-color: var(--dark);
}
#light .button--greip {
  color: var(--light);
}
#dark .button--greip {
  color: var(--dark);
}
#light .pr-box h1,
#light .hr-box h1,
#light .media-box h1,
#light .cpc-box h1,
#light .web-box h1,
#light .robotics-box h1 {
  -webkit-text-stroke-color: var(--dark);
}
#light .right .information {
  border: 2px dashed var(--dark);
}
#light .cards .test {
  background-color: var(--dark) !important;
  color: var(--light) !important;
}
canvas {
  width: 100vw;
  height: 100vh;
}
@media screen and (max-width: 1024px) {
  canvas {
    display: none !important;
  }
}
button,
img {
  user-select: none;
}
button {
  outline: none;
}
a {
  text-decoration: none;
}
::selection {
  background-color: var(--main-color);
  color: var(--light);
}
::-webkit-scrollbar {
  width: 0;
}
.bg {
  display: flex;
  justify-content: center;
  margin-bottom: 5px;
  position: relative;
}
.bg::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  background-color: var(--main-color);
  z-index: -1;
  transition: 0.5s;
}
.bg:hover::before {
  width: 100%;
  height: 100%;
}
.bg a {
  color: var(--light);
  text-decoration: none;
  margin: 2rem 0;
  font-size: 2rem;
  font-weight: 600;
  letter-spacing: 3px;
}
#toggle_checkbox
{
  display: none;
}
label
{
  display: block;
  position: fixed;
  top: 10%;
  right: 5%;
  width: 75px;
  height: 35px;
  margin: 0 auto;
  background-color: #77b5fe;
  border-radius: 56px;
  transform: translateY(-50%);
  cursor: pointer;
  transition: 0.3s ease background-color;
  overflow: hidden;
  z-index: 10;
}
@media screen and (max-width: 567px) {
  label {
    right: 10px;
    top: 10%;
    width: 65px;
  }
}
@media (min-width: 768px) and (max-width: 1195px) {
  label {
    right: 1%;
  }
}
#star
{
  position: absolute;
  top: 7px;
  left: 13px;
  width: 20px;
  height: 20px;
  background-color: #fafd0f;
  transform: scale(1);
  border-radius: 50%;
  user-select: none;
  transition: 0.3s ease top, 0.3s ease left, 0.3s ease transform, 0.3s ease background-color;
  z-index: 1;
}
#star-1
{
    position: relative;
}
#star-2
{
    position: absolute;
    transform: rotateZ(36deg);
}
.star
{
  top: 0;
  left: -7px;
  font-size: 43px;
  line-height: 20px;
  color: #fafd0f;
  transition: 0.3s ease color;
}
#moon
{
  position: absolute;
  bottom: -52px;
  right: 8px;
  width: 30px;
  height: 30px;
  background-color: #fff;
  border-radius: 50%;
  transition: 0.3s ease bottom;
}
#moon:before
{
  content: "";
  position: absolute;
  top: -12px;
  left: -17px;
  width: 40px;
  height: 40px;
  background-color:#03a9f4;
  border-radius: 50%;
  transition: 0.3s ease background-color;
}
#toggle_checkbox:checked + label
{
  background-color: #000;
}
#toggle_checkbox:checked + label #star
{
  top: 3px;
  left: 64px;
  transform: scale(0.3);
  background-color: yellow;
}
#toggle_checkbox:checked + label .star
{
  color: yellow;
}
#toggle_checkbox:checked + label #moon
{
  bottom: 8px;
}
#toggle_checkbox:checked + label #moon:before
{
  background-color: #000;
}
.button {
  pointer-events: auto;
  cursor: pointer;
  background: var(--main-color);
  border: none;
  padding: 1.5rem 3rem;
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  position: relative;
  display: inline-block;
}
.button::before,
.button::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.button--greip {
  margin: 1rem 0;
  overflow: hidden;
  color: var(--dark);
  font-size: 1.5rem;
  font-weight: 600;
  padding: 1rem 2rem;
}
.button--greip span {
  display: block;
  position: relative;
}
.button--greip > span {
  overflow: hidden;
}
.button--greip:hover > span > span {
  animation: MoveUpInitial 0.2s forwards, MoveUpEnd 0.2s forwards 0.2s;
}
.button--greip::before {
  content: '';
  background: var(--light);
  width: 100%;
  height: 100%;
  transform-origin: 50% 100%;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  transition: clip-path 0.2s, -webkit-clip-path 0.2s;
  transition-timing-function: cubic-bezier(0.7, 0, 0.2, 1);
}
.button--greip:hover::before {
  transition-duration: 0.3s;
  -webkit-clip-path: polygon(0 0, 100% 0, 0 0, 0% 100%);
  clip-path: polygon(0 0, 100% 0, 0 0, 0% 100%);
}
/* end global components */